#login-wrapper
  width 100vw
  height 100vh
  position fixed
  //background url("./../../assets/image/login_back.jpg") center center no-repeat
  //background-size cover
  top 0
  left 0
  display flex
  align-items flex-end
  justify-content center
  flex-wrap wrap
  font-size 24px
  padding-bottom  100px
  .login-box
    width 80%
    display flex
    justify-content center
    align-items flex-end
    .login-container
      width 500px
      padding 0 15px
      padding-top 550px
      input{
        width 100%
      }
  .LoginBtn
    width 100%
    text-align right
    margin-right 100px
